{% extends 'warehouse_dashboard.html' %}
{% block slider %}
{% endblock %}
{% block content %}
<!-- add team member-->
<div class="container">
    {% with msg = get_flashed_messages() %}
    {% if msg %}
    <h5 style="margin-bottom: 30px; margin-top: 30px; text-align: center; color: #ff2121;">{{msg[0]}}</h5>
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
    
        <button class="b_center" type="button"  data-toggle="modal" data-target="#addflex">Add Flex</button>
    </div>
</div>


<!--modal for team member addition-->
<div class="modal fade" id="addflex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Flex</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form action="{{url_for('add_flex')}}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="position">Image No.</label>
            <select class="form-control" name="imageno" id="position">
              <option value="1">Image 1</option>
              <option value="2">Image 2</option>
              <option value="3">Image 3</option>
              <option value="4">Image 4</option>
            </select>
           </div>
          <div class="form-group">
            <label for="heading">Quote Heading</label>
            <textarea id="heading" type="text" name="heading" class="form-control" rows="5"
              placeholder="Enter quote heading..." required></textarea>
          </div>
          <div class="form-group">
            <label for="body">Quote Body</label>
            <textarea id="body" type="text" name="body" class="form-control" rows="5"
              placeholder="Enter quote body..." required></textarea>
          </div>
          <div class="form-group">
            <label for="fleximage">Select Image</label>
            <input id="fleximg" type="file" name="fleximg" required>
          </div>
      </div>
      <div class="form-group text-center">
        <button class="btn " style="text-align: center;color:white; padding: 10px; background-color: #ff2121;">Add image</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}